# Python
__pycache__/
*.py[cod]
venv/

# Environment
.env
.env.save
service_account.json

# Mac
.DS_Store

# Notebooks
.ipynb_checkpoints/

# Keep models (needed in Railway demo)
# *.pkl  <-- REMOVED THIS LINE

# Keep CSV demo data
# *.csv  <-- REMOVED THIS LINE

# Do NOT ignore data folder
# data/  <-- REMOVED THIS LINE

# Do NOT ignore scripts
# scripts/ <-- REMOVED THIS LINE

requirements_smartport.txt