fastapi==0.109.0
uvicorn[standard]==0.27.0
pandas>=2.2.0
numpy>=1.26.0
cloudpickle==3.0.0
supabase
python-dotenv==1.0.0
scikit-learn==1.6.1
xgboost>=2.1.0
python-multipart==0.0.6
joblib>=1.3.2
httpx>=0.25.0,<0.29.0
pyarrow
scipy
pyTelegramBotAPI==4.26.0
anthropic